.navbar-wrapper {
    width: var(--nav-width);
    max-width: var(--nav-width);
    overflow-x: hidden;
    min-width: var(--nav-width);
    background-color: var(--color-main);
    padding: 0 12px;
}
.navbar {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: inherit;
    overflow-x: hidden;
}
.navbar-header {
    height: 40px;
    display: flex;
    align-items: center;
    padding: 12px 0;
}
.navbar-body {
    flex: 1;
}

.navbar .btn {
    padding: 12px 24px;
    font-size: 16px;
    height: 25px;
    font-weight: 600;
    height: auto;
    border: none;
    justify-content: start;
}
.navbar-footer {
    padding-top: 12px;
}
.navbar-footer .btn.btn-link {
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    height: auto;
    border: none;
    justify-content: start;
}
.navbar .btn svg {
    width: 20px;
    height: 20px;
}

@keyframes openNav {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes closeNav {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
@media (max-width: 800px) {
    .navbar-wrapper {
        width: 100vw;
        min-width: 100vw;
        z-index: 1000;
        height: 100%;
        z-index: 999;
        background-color: var(--color-overlay);
        position: fixed;
        padding: 0;
    }
    .navbar {
        width: 70%;
        min-width: 70%;
        background-color: var(--color-main);
        height: 100%;
        z-index: 1000;
        padding: 0 12px;
        box-shadow: var(--box-shadow);
    }
    .navbar-open .navbar {
        overflow-y: auto;
    }
}

.navbar-closed .navbar  {
    animation: closeNav var(--transition-duration);
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.navbar-open .navbar {
    animation: openNav var(--transition-duration);
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    visibility: visible;
}