.navbar-mob {
    position: fixed;
    padding: 0;
    left: auto;
    top: auto;
    right: auto;
    border-right: none;
    /* border-top: var(--border); */
    justify-content: space-around;
    bottom: 0;
    flex-direction: row;
    height: var(--nav-mob-height);
    width: 100vw;
    width: -webkit-fill-available;
    padding-bottom: env(safe-area-inset-bottom);
    z-index: 98;
    /* background-color: var(--color-main); */
    /* overflow-y: auto; */
    /* backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px); */
}
.navbar-mob::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 0;
    background: var(--nav-bg-color);
}

.navbar-mob-item.active .navbar-mob-item-icon,
.navbar-mob-item:hover .navbar-mob-item-icon {
    opacity: 1;
    color: var(--text-dark);
    scale: 1.2;
}
.navbar-mob-item:hover::before {
    background-color: var(--color-main);
}
.navbar-mob-item::before  {
    content: "";
    pointer-events: none;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--color-main, rgba(26,26,26,0.1));
    border-radius: var(--border-radius);
    opacity: 0;
    transition: opacity 100ms cubic-bezier(0.4, 0, 0.2, 1),transform 100ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: scale(0);
    z-index: -1;
    transition-duration: var(--transition-duration);
}

.navbar-mob .navbar-mob-item svg {
    width: 22px;
    height: 22px;
}
.navbar-mob-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    gap: 0;
    padding: 0;
    margin: 0;
}
.navbar-mob .navbar-mob-item svg {
    margin-right: 0;
}

.navbar-mob .navbar-mob-item.active {
    background-color: transparent;
    opacity: 1;
}

.navbar-mob-item:active {
    opacity: 1;
}
.navbar-mob-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    gap: 2px;
    font-size: 12px;
    font-weight: 500;
    height: var(--nav-mob-height);
    transition-duration: var(--transition-duration);
    cursor: pointer;
    position: relative;
}
.navbar-mob-item .navbar-mob-item-icon svg {
    width: 20px;
    height: 20px;
    max-width: 20px;
    max-height: 20px;
}
.navbar-mob-item .navbar-mob-item-icon .avatar {
    width: 20px;
    height: 20px;
    max-width: 20px;
    max-height: 20px;
    font-size: 10px;
}
.navbar-mob-item .navbar-mob-item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 4px 22px; */
    min-height: 28px;
    height: 100%;
    border-radius: var(--border-radius-lg);
    background-color: transparent;
    transition-duration: 0.3s;
}
.navbar-mob .navbar-mob-item.active  .navbar-mob-item-icon {
    /* background-color: rgb(var(--color-general-secondary-bg)); */
}
.navbar-mob .navbar-mob-item.active  .navbar-mob-item-icon svg {
    fill: rgb(var(--color-general-secondary-text));
}

.navbar-mob .navbar-mob-item svg {
    width: 20px;
    height: 20px;
}


@media (max-width: 800px) {
    body:has(.hidden-navbar-mob) .navbar-mob {
        display: none;
    }
}